<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to my Music Emporium </h1>
    <form action="/albums/">
    <input type="submit" value="Enter"/>
    </form>
  </body>
</html>
