<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" id="index">
    <div class="albums">
    <h1>Add an Album</h1>
            <form action="/albums" method="POST">
                title: <input type="text" name="title" /><br/>
                artist: <input type="text" name="artist" /><br/>
                genre: <input type="text" name="genre" /><br/>
                year: <input type="number" name="year" /><br/>
                price: <input type="number" name="price" /><br/>
                quantity: <input type="number" name="quantity" /><br/>
                image: <input type="text" name="img" id="img" /><br/>
                <input type="submit" name="" value="Create Album" style="color: white"/>
            </form>
            <br/>
            <br/>
            <a href='/albums/'>
              Go Back
            </div>
          </div>
  </body>
</html>
