<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add an Album</h1>
            <form action="/albums" method="POST">
                title: <input type="text" name="title" /><br/>
                artist: <input type="text" name="artist" /><br/>
                genre: <input type="text" name="genre" /><br/>
                year: <input type="number" name="year" /><br/>
                price: <input type="number" name="price" /><br/>
                quantity: <input type="number" name="quantity" /><br/>
                <input type="submit" name="" value="Create Fruit"/>
            </form>
  </body>
</html>
